.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    height: 38px;
    width: 130px;
    border-radius: 0px;
    label{
        top:-20%;
    }

}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    height: 38px;
    border-radius: 0px !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 0px !important;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root{
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}